.file-upload input[type="file"] {
    display: none;
  }
  
  .file-upload label {
    padding: 10px 20px;
    background-color: #f50057;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .file-upload label:hover {
    background-color: #ff4081;
  }
  